<!-- <h2 mat-dialog-title>Install Angular</h2> -->
<mat-dialog-content class="mat-typography">
  <mat-tab-group (selectedIndexChange)="optionSelected($event)">
    <mat-tab label="Iniciar sesión">
      <app-login-form #loginForm></app-login-form>
    </mat-tab>
    <mat-tab label="Registrarse">
      <app-register-form #registerForm></app-register-form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button *ngIf="tabSelected==0" (click)="loginForm.login()" mat-button cdkFocusInitial>Iniciar sesión</button>
  <button *ngIf="tabSelected==1" (click)="registerForm.register()" mat-button cdkFocusInitial>Registrarse</button>
</mat-dialog-actions>
