<header>

  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MarketBuy</span>
    <span class="example-spacer">
      <app-search-input
            [placeholder]="'Buscar productos'"
          ></app-search-input>
    </span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-toolbar style="height: 30px;">
    <button mat-button routerLink="''">Productos</button>

    <button mat-menu-item [matMenuTriggerFor]="DashboardMenu" style="width: 100px; height: 36px; line-height: 0px;">Dashboard</button>
      <mat-menu #DashboardMenu="matMenu" xPosition="before">

        <button mat-menu-item [matMenuTriggerFor]="CategoriaMenu">Categoria</button>
          <mat-menu #CategoriaMenu="matMenu" xPosition="before">
            <a mat-menu-item  routerLink="/dashboard/category/new-category" >Nueva categoria</a>
            <a mat-menu-item routerLink="/dashboard/category/all-category" >Todas las categorias</a>
          </mat-menu>

      </mat-menu>
      
  </mat-toolbar>

</header>
