<header>
  <div>
    <mat-toolbar class="menu-container-res">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
      <a class="logo" routerLink="/">
        <span>MarcketBuy</span>
      </a>
      <span class="example-spacer search">
        <app-search-input
          style="width: 80%"
          [placeholder]="'Buscar productos'"
        ></app-search-input>
      </span>

      <button
        *ngxPermissionsOnly="['no-auth']"
        (click)="authModal()"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>person</mat-icon>
      </button>

      <ng-container *ngxPermissionsExcept="['no-auth']">
        <button mat-button aria-label="Favorite" routerLink="/products/wishlist">
          <mat-icon>favorite</mat-icon>
        </button>
        <ng-container *ngIf="authService.currentUser$ | async as user">
          <div class="menu">
            <button
              mat-button
              [matMenuTriggerFor]="matMenuCart"
              mat-button
              color="primary"
            >
              Cart
            </button>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              Hola, {{ user.full_name }}
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="authService.logout()" mat-menu-item>
                <span>Cerrar sesión</span>
              </button>
            </mat-menu>

            <mat-menu #matMenuCart="matMenu">
              <div class="main"></div>

              <mat-list role="list">
                <mat-list-item *ngFor="let c of cartData.data; let i = index">
                  <div *ngIf="c.numInCart == 0">El carrito esta básio</div>
                  <img
                    matListAvatar
                    src="https://mercandu.nyc3.digitaloceanspaces.com/ProductVariationImages/1c33a7c4-352e-4c15-b298-a578f696140f.jpg"
                    alt="..."
                  />
                  <h3 matLine>{{ c.product?.name }}</h3>
                  <p matLine>
                    <span> {{ c.numInCart }} </span>
                    <span class="demo-2">
                      x {{ c.product?.price | currency: "USD" }}
                    </span>
                  </p>
                  <button
                    (click)="deteleCart(c.product?._id)"
                    mat-mini-fab
                    color="primary"
                    aria-label="Example icon button with a menu icon"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
                <mat-list-item>
                  <h3 matLine>Total: {{ cartTotal.toString() | currency: "USD" }}</h3>

                  <button routerLink="/checkout" mat-button color="primary">Ir carrito</button>
                </mat-list-item>
              </mat-list>




            </mat-menu>
          </div>

          <div class="menu-res">
            <button
              mat-icon-butto
              mat-menu-item
              [matMenuTriggerFor]="matMenuResponsive"
              style="padding: 0px"
            >
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #matMenuResponsive="matMenu">
              <div class="menu_content">
                <span> Hola, {{ user.full_name }}</span>

                <button (click)="authService.logout()">
                  <span>Cerrar sesión</span>
                </button>
              </div>
            </mat-menu>
          </div>
        </ng-container>
      </ng-container>
    </mat-toolbar>
    <mat-toolbar class="search-res">
      <span class="example-spacer">
        <app-search-input
          style="width: 100%"
          [placeholder]="'Buscar productos'"
        ></app-search-input>
      </span>
    </mat-toolbar>
  </div>

  <mat-toolbar style="height: 46px">
    <button mat-button routerLink="''">Productos</button>

    <button
      *ngxPermissionsOnly="['admin']"
      mat-menu-item
      [matMenuTriggerFor]="DashboardMenu"
      style="width: 100px; height: 36px; line-height: 0px"
    >
      Dashboard
    </button>
    <mat-menu #DashboardMenu="matMenu" xPosition="before">
      <button mat-menu-item [matMenuTriggerFor]="CategoriaMenu">
        Categoria
      </button>
      <mat-menu #CategoriaMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/dashboard/options/category/new-category"
          >Nueva categoria</a
        >
        <a mat-menu-item routerLink="/dashboard/options/category/all-category"
          >Todas las categorias</a
        >
      </mat-menu>

      <button mat-menu-item [matMenuTriggerFor]="MarcaMenu">Marca</button>
      <mat-menu #MarcaMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/dashboard/options/brands/new-brand"
          >Nueva marca</a
        >
        <a mat-menu-item routerLink="/dashboard/options/brands/all-brands"
          >Todas las marcas</a
        >
      </mat-menu>

      <button mat-menu-item [matMenuTriggerFor]="ProductoMenu">Producto</button>
      <mat-menu #ProductoMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/dashboard/options/products/new-product"
          >Nuevo producto</a
        >
        <a mat-menu-item routerLink="/dashboard/options/products/all-products"
          >Todas las productos</a
        >
      </mat-menu>
    </mat-menu>
  </mat-toolbar>
</header>
