<div class="container">
  <!-- Gallery + details-->
  <div class="div-product">
    <div class="tab-pane" id="general">
      <div class="row">
        <!-- Product gallery-->
        <div class="col-lg-7" style="display: flex">
          <div class="product-gallery">
            <div class="product-gallery-preview order-sm-2">
              <div
                [id]="'gallery' + item.public_id"
                *ngFor="
                  let item of product?.photos;
                  let i = index;
                  first as isFirst
                "
                [class]="isFirst ? 'active' : ''"
                class="product-gallery-preview-item"
              >
                <img
                  style="height: 100%; object-fit: contain"
                  class="image-zoom"
                  appImageZoom
                  [src]="item.url"
                  [attr.data-zoom]="item.url"
                  [alt]="product?.name"
                />
                <div class="image-zoom-pane" style="box-sizing: border-box; -webkit-font-smoothing: antialiased;"></div>
              </div>
            </div>

            <div class="product-gallery-thumblist order-sm-1 ms-0">
              <ng-container
                *ngFor="
                  let item of product?.photos;
                  let i = index;
                  first as isFirst
                "
              >
                <label
                  [for]="'color' + item.public_id"
                  class="product-gallery-thumblist-item"
                  [class]="isFirst ? 'active' : ''"
                  [id]="'gallery-thumblist' + item.public_id"
                  (click)="
                  setCurrentGalleryItem(
                      'gallery' + item.public_id,
                      'gallery-thumblist' + item.public_id
                    )
                  "
                >
                  <img
                    [src]="item.url"
                    style="height: 100%"
                    alt="Product thumb"
                  />
                </label>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- Product details-->
        <div class="col-lg-5 pt-4 pt-lg-0"></div>
      </div>
    </div>
  </div>


</div>
