.container-input {
  // display: flex;
  margin-top: 20px;
}

.input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-element {
  width: 50%;
}

.ml {
  margin-left: 15px;
}

.mr {
  margin-right: 15px;
}

input {
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px !important;
  outline: none;
  padding: 10px;
  border: 1px solid #c4c2c2;
  width: 100%;
}

.input-max-width {
  max-width: 232px !important;
}

.descripcion {
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    border: 1px solid #c4c2c2;
}

.estado {
  display: flex;
  flex-direction: column;
}

button {
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #e66e6e;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}
button:hover {
    background: #c63939;
}

.example-h2 {
    margin: 10px;
}
  
.example-section {
  
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

  
// @media (min-width: 559px){
//     .input-container {
//         padding: 20px 0 0 0;
//     }
//   }
