<!-- Footer-->
<footer class="footer bg-footer pt-5">

  <div class="pt-1 bg-footer container" style="max-width: 1500px;">
    <div class="container">
      <div class="row pb-1">

        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex">
            <!-- <i class="ci-rocket icon-color" style="font-size: 2.25rem;"></i> -->
            <mat-icon style="font-size: 2.25rem;">aspect_ratio</mat-icon>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Experiencia en línea fácil y amigable.</h6>
              <p class="mb-0 fs-ms text-light opacity-50">
                Diseño intuitivo e interactivo
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex">
            <!-- <i style="font-size: 2.25rem;" class="fas fa-truck icon-color"></i> -->

            <mat-icon style="font-size: 2.25rem;">check_circle_outline</mat-icon>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Entregas en todo el país.</h6>
              <p class="mb-0 fs-ms text-light opacity-50">
                Cobertura de envíos a nivel nacional
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4" >
          <div class="d-flex">
            <mat-icon style="font-size: 2.25rem;" class="icon-color">trending_up</mat-icon>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Impulsamos tu negocio.</h6>
              <p class="mb-0 fs-ms text-light opacity-50">
                Atención personalizada.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex">
            <i class="ci-support icon-color" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Lorem, ipsum dolor.</h6>
              <p class="mb-0 fs-ms text-light opacity-50">
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-md-3 col-sm-6 mb-4" >
          <div class="d-flex">
            <!-- <i class="ci-card icon-color" style="font-size: 2.25rem;"></i> -->

            <mat-icon class="icon-color" style="font-size: 2.25rem;"> attach_money</mat-icon>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Compra más, ahorra más.</h6>
              <p class="mb-0 fs-ms text-light opacity-50">
                Descuentos por volumen de compras
              </p>
            </div>
          </div>
        </div>

      </div>
      <hr class="hr-light mb-5" />
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap mb-4">
            <a class="d-inline-block align-middle mt-n1 me-3" style="color: white; font-size:1.3rem"
              >MarketBuy</a>
          </div>
          <!-- <div class="widget widget-links widget-light">
            <ul
              class="
                widget-list
                d-flex
                flex-wrap
                justify-content-center justify-content-md-start
              "
            >
              <li class="widget-list-item me-4">
                <a class="widget-list-link" href="#">Lorem</a>
              </li>
              <li class="widget-list-item me-4">
                <a class="widget-list-link" href="#">Lorem</a>
              </li>
              <li class="widget-list-item me-4">
                <a class="widget-list-link" href="#">Soporte</a>
              </li>
              <li class="widget-list-item me-4">
                <a class="widget-list-link" href="#">Privacidad</a>
              </li>
              <li class="widget-list-item me-4">
                <a class="widget-list-link" href="#">Condiciones de uso</a>
              </li>
            </ul>
          </div> -->
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3">
            <a class="btn-social bs-light bs-facebook ms-2 mb-2" target="_blank" href="https://www.facebook.com/willianadonay.rosaramirez"
              ><mat-icon class="icon-color" style="font-size: 2.25rem;"> facebook-box</mat-icon></a
            ><a class="btn-social bs-light bs-instagram ms-2 mb-2" target="_blank" href="https://www.instagram.com/cavalierlatam/"
              ><mat-icon class="icon-color" style="font-size: 2.25rem;"> whatsapp</mat-icon></a>
              <a class="btn-social bs-light bs-linkedin ms-2 mb-2" target="_blank" href="https://www.linkedin.com/in/willian-adonay-rosa-ramirez-487bb1218/"
              ><mat-icon class="icon-color" style="font-size: 2.25rem;"> linkedin-box</mat-icon></a>
          </div>
          <img
            class="d-inline-block"
            src="/assets/cards-alt.png"
            width="187"
            alt="Payment methods"
          />
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
      © {{currentYear}} <a href="https://vertikal.com.sv/" class="text-white text-sm" target="_blank"> Cavalier | Platform Developed by Vertikal Company &reg;</a>
      </div>
    </div>
  </div>
</footer>
