<div class="card-container">
  <mat-card
          class="example-card card"

          flexLayoutAlign="center"
          *ngFor="let product of products"
        >
          <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header> -->
            <!-- <div>
              <mat-icon>favorite</mat-icon>
            </div> -->

            <img
            mat-card-image
            [src]="product.photos[0].url"
            alt="Photo of a Shiba Inu"
          />
          <button class="favorite" mat-mini-fab aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
          <mat-card-content>
            <mat-card-subtitle>{{product.category.name}}</mat-card-subtitle>
            <mat-card-title>{{product.name}}</mat-card-title>
            <p>${{product.price}}</p>


          </mat-card-content>
          <mat-card-actions fxLayout="row wrap">
            <button fxFlex="100%" mat-raised-button>Ver detalle del producto</button>
          </mat-card-actions>
  </mat-card>

</div>