<mat-card
        class="example-card"

        flexLayoutAlign="center"
      >
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
          <!-- <div>
            <mat-icon>favorite</mat-icon>
          </div> -->

          <img
          [routerLink]="[
                '/dashboard/products/details/',
                product._id
              ]"
          mat-card-image
          [src]="product.photos[0].url"
          alt="Photo of a Shiba Inu"
          style="box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; cursor: pointer;"
        />

        <button class="favorite" mat-mini-fab aria-label="Example icon button with a home icon"  (click)="addProductToWishlsit(product._id)">
            <mat-icon>favorite</mat-icon>
          </button>
        <mat-card-content>

          <mat-card-subtitle style="cursor: pointer;">{{product.category.name}}</mat-card-subtitle>
          <mat-card-title style="cursor: pointer;" [routerLink]="[
                '/dashboard/products/details/',
                product._id
              ]">{{product.name}}</mat-card-title>

          <div class="color-price">
            <div class="color-option">
              <span class="color">Color:</span>
              <div class="circles">
                <span class="circle yellow" id="yellow"></span>
              </div>
            </div>
            <div class="price">
              <span class="price_num">{{product.price | currency}}</span>
            </div>
          </div>


        </mat-card-content>
        <mat-card-actions fxLayout="row wrap" style="margin-bottom: 10px !important;">
          <button fxFlex="100%" class="buttom-card add-to-cart" mat-raised-button >Añadir al carrito 	<mat-icon>add_shopping_cart</mat-icon></button>

          <!-- <button fxFlex="100%" class="buttom-card" mat-raised-button style="margin: 10px 0 0 0;">Ver detalle del producto</button> -->
          <!-- <a ><mat-icon>visibility</mat-icon>Ver producto</a> -->

        </mat-card-actions>

        <!-- <div class="button">
          <div class="button-layer"></div>
          <button>Añadir al carrito</button>
        </div> -->
      </mat-card>
